@charset "UTF-8";

body {
    background-color: #c7c599;
    font: normal 1.2em Arial, Verdana, sans-serif; 
    color: #7c7c7c;
}

h1 {
    color: #ffd558;
}

h1#mainTitle {
    color: #ffd556;
    background-color: #f2ecce98;
    text-align: center;
    border-radius: 10px;
}

h2 {
    color: #636363;
}

.basico {
    color: #529c52;
}

.intermediario {
    color: #919c52;
}

.avancado {
    color: #9c5252;
}