@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url(fonts/idroid.otf);
}


/*global variables in CSS*/
:root {
    --color0: #ebe5c5;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #063d1e;

    --standard-font: Arial, Verdana, Helvetica, sans-serif;
    --feature-font: 'Bebas Neue', cursive; 
    --android-font: 'Android', cursive; 
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--color0);
    font-family: var(--standard-font);
    
}

header {
    display: block;
    background-image: linear-gradient(to bottom, var(--color3), var(--color4));
    color: white;
    font-family: var(--feature-font);
    margin: auto;
    width: 100%;
    
}

header > div {
    
    padding-top: 15px;
    text-align: center;
    min-height: 150px;
    margin-bottom: 30px;

}

header > div > p {
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.582)
}

h1 {
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.582)
}



h2, h3 {
    margin-top: 5px;
    font-family: var(--android-font);
}

nav {
    background-color: var(--color4);
    min-height: 35px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521)
    
    
}

nav > a {
    text-decoration: none;
    color: white;
    font-family: var(--standard-font);
    padding: 14px 20px;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
}

nav > a:hover {
    transition-duration: 0.6s;
    border: 1px solid var(--color2);
    background-color: var(--color3);
}


h2 {
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    font-family: var(--android-font);
}

main {
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    
}

main > article {
    background-color: white;
    padding: 25px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


main > article > p {
    text-indent: 20px;
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.2em;
}

main strong {
    color: var(--color2);
    padding: 3px;
    font-weight: bold;
}

h3 {
    margin-top: 30px;
    background-image: linear-gradient(to right, var(--color1), transparent);
    text-shadow: 1px 1px 1px var(--color2);
}


main img {
    
    
    display: block;
    width: 100%;
    margin: auto;

}

main a {
    text-decoration: none;
    color: var(--color2);
    background-color: #000000;
    padding: 3px;
    border-radius: 3px;
}


.small {
    max-width: 350px;
    display: block;
    margin: auto;

}

div > iframe {
    margin: auto;
    display: block;
    text-align: center;
    

}

.iframeDiv {
    background-color: #063d13;
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    
}

.iframeDiv > iframe {
    padding: 20px
}

aside {
    margin-top: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.459);
    border-radius: 2px;
}

#asideDiv {
    
    background-color: var(--color1);
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    
}

aside > #titleDiv {
    
    padding: 5px;
    margin: 0px;
    background-color: #23814dcb;
    color: white;
    font-size: 1.2em;

}

#titleDiv > h4 {
    margin: 10px;
    
}

#titleDiv {
    border-radius: 5px 5px 0px 0px;
}

#asideDiv > p {
    text-indent: 20px;
    
}

#asideDiv ul {
    list-style-type: '\2705\00A0\00A0';
    columns: 2;
}

#lastPar {
    padding: 20px 0px;
}

footer {
    background-color: var(--color4);
    color: white;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    
}

footer a {
    text-decoration: underline;
    color: white;
}

a.extern::after {
    content:'\1F517'
}


@media (max-width: 500px) {
    nav > a {
        flex-direction: column;
        width: 100%;
        text-align: center;
        border-style: solid;
        
    }
}

@media (max-width: 500px) {
    nav > a:hover {
        border-radius: 0px;
    }
}

