@charset "UTF-8";


 body {
     background-color: lightsteelblue;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1em;
 }

 h1 {
     color: darkblue;
     background-color: lightgray;
 }

 h2 {
     color: darkred;
 }

 p {
     text-align: justify;
 }
 
