@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: justify;
    background-image: linear-gradient(to right, #033F73, #011826);
}

main {
    background-color: #ffffff;
    border-radius: 10px; /*pontas arredondadas da div*/
    box-shadow: 5px 5px 3px #010a13;
    width: 600px;
    padding: 10px;
    margin: auto; /*Centraliza o bloco, independente do tamanho da tela*/
}

h1 {
    color: #022340;
    text-align: center;
    text-shadow: 1px 1px 2px #0112208a;

}

h2 {
    color: #0477BF;

}
